body.mobile-active {
	overflow-y: auto;
	background: $color-bg-light;

	button {
		border: 0;
		appearance: none !important;
		background: none;
		cursor: pointer;
    -webkit-appearance: none !important;
	}

  [type='button'] {
    -webkit-appearance: none;
  }
}

#mobile-menu {
	width: 100%;
	text-align: center;

	#back-home {
		height: 15px;
    width: auto;
    left: 3.8vw;

    #mobile-logo {
    	height: 15px;
	    width: auto;
    }
	}

	.absolute-right {
		right: 3.8vw;
    cursor: pointer;
    z-index: 1000;

    #mobile-burger {
	    transition: all .45s cubic-bezier(0.455,0.03,0.515,0.955);
	    display: inline-block;
	    vertical-align: middle;
	    border: 0;
	    float: right;
	    appearance: none!important;

	    svg {
	    	width: 2vw;
	    	height: 2vw;
	    	min-width: 30px;
	    	min-height: 30px;
	    	cursor: pointer;
	    }
    }
	}

	.menu {
		width: 100%;
    height: 400px;
    display: none;
    background: #252525;

    a {
    	display: block;

    	.nav-number {
    		display: block;
		    color: #fff;
		    transition: color .25s ease-in-out;
		    font: normal normal 700 12px/15px "Open Sans",sans-serif;
    	}

    	.nav-title {
    		display: block;
		    margin-top: -2px;
		    color: #fff;
		    transition: color .25s ease-in-out;
		    font: normal normal 700 20px/24px "DomaineText";
    	}

    	.divider {
    		display: block;
    		width: 25%;
    		height: 1px;
    		background: transparent;
    		margin: 5px auto;
    		margin-bottom: 10px;
    		transition: background .25s ease-in-out;
    	}

    	&:nth-of-type(7) {
    		margin-bottom: 0!important;
    	}
    }
	}
}

.mobile-header {
	top: 0;
	height: 54px;
	background: #fff;
	opacity: 1!important;
	z-index: 1;
	width: 100vw;
	display: block;
	padding: 0;

	.container {
    width: 100%;
    height: 100%;
	}
}

.fixed-top {
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.mobile {
	display: none;
	width: 100%;
	height: auto;
	position: static;

	footer {
		background: #252525;
		position: relative;
	  opacity: 1 !important;
	  display: block;
	  padding: 0;
	  visibility: visible !important;
	  bottom: 0;

		.mobile-content {
			padding: 40px 3.8vw;

			p {
				color: #fff;
				font: normal normal 400 14px/19px "Open Sans",sans-serif;
				text-align: left;

				a {
					text-decoration: none;
				}
			}

			.divider {
				width: 100%;
				height: 1px;
				background: #868f96;
				margin: 0;
				margin-top: 20px;
			}

			span {
				margin-top: 20px;
		    display: block;
		    font: normal normal 400 10px/13px "Open Sans", sans-serif;
			}
		}
	}

	section {
		width: 100%;
		height: auto;
		display: block;
		opacity: 1;
		visibility: visible;
		text-align: center;

		.hero {
			width: 100%;
			height: 335px;
			display: block;
			position: relative;

			.background {
				width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    z-index: -1;
		    background-size: cover;

		    &:before {
		    	content: '';
    	    display: block;
    	    width: 100%;
    	    height: 100%;
    	    background-color: rgba(0,0,0,0.57);
		    }
			}
		}

		.mobile-content {
			padding: 40px 3.8vw;

			.mobile-sec-headline {
				color: #000;
				letter-spacing: -.02em;
				text-align: left;
			}

			.divider {
				width: 40%;
		    height: 1px;
		    background: #868f96;
		    margin: 0;
		    margin-top: 20px;
			}

			p {
				color: #000;
		    font: normal normal 400 14px/19px "Open Sans",sans-serif;
		    text-align: left;
			}

			& > p {
				margin-top: 20px;
			}
		}
	}

	#mobile-journey,
	#mobile-identify,
	#mobile-connect,
	#mobile-guide,
	#mobile-support,
	#mobile-sustain {
		.mobile-headline {
			width: 70%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}

#mobile-intro {
  margin-top: 54px;

  .hero {
  	width: 100vw;
  	overflow: hidden;
  	transition: background .45s ease-in-out;

  	.background {
  	  background-image: url(../img/bg-vision.png);
  	  background-size: cover;
  	  transition: background .75s ease-in-out;

  	  &:before {
  	  	transition: background .45s ease-in-out;
  	  }
  	}

  	&.video-active {
  		.background {
				background: #fff !important;

				&:before {
					background: #fff!important;
				}
  		}
  	}

  	.mobile-headline {
	    padding-top: 130px;
  	}

  	span:first-of-type {
  		margin-top: 20px;
  		display: block;
  		font: normal normal 700 12px/15px "Open Sans",sans-serif;
  		letter-spacing: .1em;
  	}

  	#play-vision-btn {
	    margin-top: 17px;

	    svg {
	    	display: block;
	    	width: 35px;
	    	height: 35px;
	    }
  	}

  	.warning {
  		position: absolute;
  		bottom: 2.9vw;
  		left: 2.9vw;
  		text-align: left;
  		font: normal normal 700 10px/13px "Open Sans",sans-serif;
  		letter-spacing: .08em;
  	}

  	#vision-video {
  		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: -20;
	    height: 100%;
	    width: 100vw;
	    opacity: 0;
	    display: none;
	    transition: all .85s ease-in-out;
  	}
  }

  .mobile-content {
  	padding: 40px 3.8vw;

  	.mobile-sec-headline {
  		text-align: center !important;
  	}

  	.divider {
			margin: 20px auto 0 !important;
  	}

  	p {
  		text-align: center !important;
  	}
  }
}

#mobile-journey {
	.background {
	  background-image: url(../img/bg-journey.png);
	}
}

#mobile-connect {
	.background {
	  background-image: url(../img/bg-connect.png);
	}
}

#mobile-identify {
	.background {
	  background-image: url(../img/bg-identify.png);
	}
}

#mobile-guide {
	.background {
	  background-image: url(../img/bg-guide.png);
	}
}

#mobile-sustain {
	.background {
	  background-image: url(../img/bg-sustain.png);
	}
}

#mobile-support {
	.background {
	  background-image: url(../img/bg-support.png);
	}

	.support-btn {
		width: 13vw;
		height: 3.45vw;
		min-width: 180px;
		min-height: 48px;
		text-align: left;
		cursor: pointer;
		margin-top: 2.2vh;
		color: #000;
		border: 0;
		appearance: none !important;
		display: block;

		svg {
			width: 13vw;
			height: 3.45vw;
			min-width: 180px;
			min-height: 48px;
			display: block;
		}

		span {
			width: 100%;
	    text-align: center;
	    display: block;
	    transform: translate(-50%,-50%);
		}
	}
}

.mobile-headline {
	font: normal normal 700 24px/28px "DomaineText";
}

.mobile-sec-headline {
	font: normal normal 700 18px/22px "DomaineText";
}

.link {
	font: normal normal 700 10px/13px "Open Sans",sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.absolute-center {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.absolute-left {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.absolute-right {
	position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.is-relative {
	position: relative;
}

.is-inactive {
  display: none;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.no-decoration {
	text-decoration: none !important;
}

.sr-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}